@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-bar-rtl {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari 3-8 */
}
